[Desktop Entry]
Type=Application
Exec=/usr/local/bin/check_fan.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Fan Check
Comment=Checks for fan presence and optionally shuts down if none is found
